{% extends "vroom/base.html" %}

{% block content %}
{% load static %}
<!--The main content of the webpage-->
<main>
    <!--First section of the main content. A banner which usually displays the most important information-->
    <section class="main-cont">
        <h2 class="search-heading">Search</h2>
        <form id="cars-form" name="searchForm" method="GET" action="{% url 'vroom:cars' %}">
            <div id="main-search">
                <input type="search" name="search" id="search-text" placeholder="Enter a name" />
                <input type="submit" id="search-btn" value="Search"/>
            </div>
        </form>
    </section>
    <!--Second section which contains the less important information but is still useful-->
    <div class="sub-cont results">
        {% if list_of_cars != None %}
        <h3>Results</h3>
        <!--List of search results-->
        {% if not list_of_cars %}
        <p>Oops. We couldn't find any cars matching your search</p>
        {% else %}
        <table>
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Series</th>
                    <th>Year</th>
                    <th>Price</th>
                    <th>Store</th>
                    <th>Engine</th>
                    <th>Fuel System</th>
                    <th>Tank</th>
                    <th>Power</th>
                    <th>Seats</th>
                    <th>Transmission</th>
                    <th>Type</th>
                    <th>Drive</th>
                    <th>WheelBase</th>
                </tr>
                {% for item in list_of_cars %}
                <tr>
                    <td>{{ item.car.car_id }}</td>
                    <td>{{ item.car.make_name }}</td>
                    <td>{{ item.car.model }}</td>
                    <td>{{ item.car.series }}</td>
                    <td>{{ item.car.seriesYear }}</td>
                    <td>{{ item.car.price_new }}</td>
                    <td>{{ item.return_store.name }}</td>
                    <td>{{ item.car.engine_size }}</td>
                    <td>{{ item.car.fuel_system }}</td>
                    <td>{{ item.car.tank_capacity }}</td>
                    <td>{{ item.car.power }}</td>
                    <td>{{ item.car.seating_capacity }}</td>
                    <td>{{ item.car.standard_transmission }}</td>
                    <td>{{ item.car.body_type }}</td>
                    <td>{{ item.car.drive }}</td>
                    <td>{{ item.car.wheelbase }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% endif %}
    </div>
</main>
{% endblock %}
