{% extends "vroom/base.html" %}

{% block content %}
{% load static %}
<!--The main content of the webpage-->
<main>
    <!--First section of the main content. A banner which usually displays the most important information-->
    <section class="main-cont">
        <img src="{% static 'vroom/images/logo-white.png' %}" alt="" />
        <h2>History of A Store</h2><br>
        <div id="filters">
            <h4>Select A Store to View</h4>
            <form id="store-history-form" name="searchForm" method="GET" action="{% url 'vroom:storehistory' %}">
                <select name="store">
                    <option selected disabled>Select Store:</option> <!-- Display all the stores in a drop down box -->
                    {% for item in list_of_stores %}
                    {% if not item.name in selected_store_name %} <!-- If the store name is not the selected one -->
                    <option value={{ item.store_id }}>{{ item.name }}</option> <!-- Add it as a non-selected option -->
                    {% else %}
                    <option value={{ item.store_id }} selected>{{ item.name }}</option> <!-- Else Add it with a selected tag -->
                    {% endif %}
                    {% endfor %}
                </select>
                <input type="submit">
            </form>
        </div>
    </section>
    <!--Second section which contains the less important information but is still useful-->
    <div class="sub-cont results"> <!--List of search results-->
        {% if "store" in request.GET %} <!-- If the user has already submitted a search -->
        <div class="store-box">
            {% if request.session.access == "GENERAL_STAFF" %}
            <h2>Store ID: {{ selected_store_id }}</h2>
            {% endif %}
            <h2>Store Name: {{ selected_store_name }}</h2>

            {% for title, order_list in table_data.items %}
            <h3>{{ title }}</h3> <!--Display table name-->
            <table>
                <tbody>
                    <tr>
                        {% if request.session.access == "GENERAL_STAFF" %}
                        <th>Order ID</th>
                        <th>Creation Date</th>
                        <th>Pickup Date</th>
                        <th>Return Date</th>
                        <th>Car ID</th>
                        <th>Customer ID</th>
                        <th>Pickup Store ID</th>
                        <th>Return Store ID</th>
                        {% else %}
                        <th>Creation Date</th>
                        <th>Pickup Date</th>
                        <th>Return Date</th>
                        <th>Car ID</th>
                        <th>Pickup Store ID</th>
                        <th>Return Store ID</th>
                        {% endif %}
                    </tr>
                    {% for item in order_list %} <!--For Each order in the list of orders-->
                    <tr>
                        {% if request.session.access == "GENERAL_STAFF" %}
                        <td>{{ item.order_id }}</td>
                        <td>{{ item.create_date }}</td>
                        <td>{{ item.pickup_date }}</td>
                        <td>{{ item.return_date }}</td>
                        <td>{{ item.car_id }}</td>
                        <td>{{ item.customer_id }}</td>
                        <td>{{ item.pickup_store_id }}</td>
                        <td>{{ item.return_store_id }}</td>
                        {% else %}
                        <td>{{ item.create_date }}</td>
                        <td>{{ item.pickup_date }}</td>
                        <td>{{ item.return_date }}</td>
                        <td>{{ item.car_id }}</td>
                        <td>{{ item.pickup_store_id }}</td>
                        <td>{{ item.return_store_id }}</td>
                        {% endif%}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
            <br><br>
        </div>
        {% else %} <!-- Else the user has only just visited the page and is prompted to select a store-->
        <h2>Please Select A Store</h2>
        {% endif %}
    </div>
</main>
{% endblock %}